@model FilmModelView[];


@foreach (var filmModel in Model)
{
    <div class="card mb-3" style="max-width: 1024px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="@filmModel.PosterUrlPreview" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@filmModel.NameRu</h5>
                    <p class="card-text">@filmModel.Description <br> Подробнее: @filmModel.WebUrl</p>
                    <p class="card-text"><small class="text-muted">Рейтинг кинопоиска @filmModel.KinopoiskRating</small></p>
                </div>
            </div>
        </div>
    </div>
}
